[user]
	name = David Xia
	email = {{ .email }}
	signingkey = DC90312C

[core]
	editor = {{ .editor }}
	excludesfile = ~/.gitignore_global
	pager = less
	commentChar = ";"

[color]
	ui = auto

[alias]
	st = status
	co = checkout
	com = commit
	br = branch
	hist = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=short
	ctags = !.git/hooks/ctags

[branch]
	autosetuprebase = always

[commit]
	gpgsign = true

[tag]
	gpgsign = true

[push]
	default = tracking
	followTags = true
	autoSetupRemote = true

[init]
	defaultBranch = master

[gpg]
	program = gpg

[gpg "ssh"]
    allowedSignersFile = /Users/dxia/.ssh/allowed_signers

[fetch]
	prune = true

[rerere]
	enabled = true

[includeIf "gitdir:src/github.com"]
	path = ~/.gitconfig_personal

[includeIf "gitdir:src/ghe.spotify.net"]
	path = ~/.gitconfig_work

[alias]
    cs = commit --signoff
