{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF

tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"
#tap "jorgelbg/tap"

{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}

{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}

EOF

# install https://github.com/oh-my-fish/oh-my-fish
curl https://raw.githubusercontent.com/oh-my-fish/oh-my-fish/master/bin/install | fish
fish -c "omf update; and omf install bass google-cloud-sdk-fish-completion"

{{ end -}}
