{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF

#tap "jorgelbg/tap"

{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}

{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}

EOF

{{ if has "fish" .packages.darwin.brews -}}
sudo chsh -s $(which fish) $(whoami)
{{ end -}}

{{ if has "starship" .packages.darwin.brews -}}
grep -q "starship init bash" ~/.bashrc || echo 'eval "$(starship init bash)"' >> ~/.bashrc

{{ if has "fish" .packages.darwin.brews -}}
grep -q "starship init fish" ~/.config/fish/config.fish || echo 'starship init fish | source' >> ~/.config/fish/config.fish
{{ end -}}
{{ end -}}

# install https://github.com/oh-my-fish/oh-my-fish
curl https://raw.githubusercontent.com/oh-my-fish/oh-my-fish/master/bin/install | fish
fish -c "omf update; and omf install bass google-cloud-sdk-fish-completion"

{{ end -}}
